/* Estilos base */
* {
    box-sizing: border-box;
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 2%;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 4vw;
    margin: 2vh 0 4vh;
    order: -1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enlaces {
    margin-top: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.enlaces .logo img {
    width: 150px;
    border-radius: 50%;
}

.enlaces h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap; /* Para que los elementos se envuelvan */
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
}

.time h2 {
    font-size: 3vw;
    margin: 0 1vw 2vh 0;
    padding: 2vw;
    border-radius: 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.time small {
    font-size: 2vw;
    margin: 0;
    color: white;
    font-weight: bold;
}

.enlaces .btn {
    display: block;
    width: 90%;
    max-width: 400px; /* Aumentar el ancho máximo */
    margin: 20px auto; /* Aumentar el margen superior e inferior */
    padding: 40px; /* Aumentar el padding */
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 1.8em; /* Aumentar el tamaño del texto */
}

.enlaces .btn:hover {
    background-color: #555;
}

/* Consulta de medios para ajustes en pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 8vw; /* Ajustar el tamaño de fuente para pantallas pequeñas */
    }

    .countdown {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .time h2 {
        font-size: 8vw; /* Aumentar el tamaño de fuente para pantallas pequeñas */
        padding: 4vw; /* Aumentar el padding para pantallas pequeñas */
    }

    .time small {
        font-size: 6vw; /* Aumentar el tamaño de fuente para pantallas pequeñas */
    }

    .enlaces .btn {
        font-size: 2em; /* Aumentar el tamaño de texto para pantallas pequeñas */
        padding: 25px; /* Aumentar el padding para pantallas pequeñas */
    }
}

/* Consulta de medios para ajustes en pantallas medianas */
@media (min-width: 768px) and (max-width: 1440px) {
    h1 {
        font-size: 4vw; /* Ajustar el tamaño de fuente para pantallas medianas */
    }

    .time h2 {
        font-size: 3vw; /* Ajustar el tamaño de fuente para pantallas medianas */
    }

    .time small {
        font-size: 2vw; /* Ajustar el tamaño de fuente para pantallas medianas */
    }

    .enlaces .btn {
        font-size: 1.8em; /* Ajustar el tamaño de texto para pantallas medianas */
        padding: 22px; /* Ajustar el padding para pantallas medianas */
    }
}

/* Consulta de medios para ajustes en pantallas grandes */
@media (min-width: 1440px) {
    h1 {
        font-size: 3vw; /* Ajustar el tamaño de fuente para pantallas grandes */
    }

    .time h2 {
        font-size: 2vw; /* Ajustar el tamaño de fuente para pantallas grandes */
    }

    .time small {
        font-size: 1.5vw; /* Ajustar el tamaño de fuente para pantallas grandes */
    }

    .enlaces .btn {
        font-size: 1.5em; /* Ajustar el tamaño de texto para pantallas grandes */
        padding: 30px; /* Ajustar el padding para pantallas grandes */
    }
}

.nuevo-apartado {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Cambiado a un fondo más oscuro */
    border-radius: 25px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nuevo-apartado h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
}

.nuevo-apartado p {
    font-size: 2vw;
}
